<!DOCTYPE html>
<html>
  <head>
    <title>LoginTest</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <% if logged_in? %>
      <%= button_to "User List", users_path, method: :get %>
      <%= button_to "Home", welcome_path, method: :get %>
      <%= button_to "Logout", logout_path %>
    <% end %>
  </body>
</html>
